.container {
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  background-image: url("../money.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}