html {
  box-sizing: border-box;
  background-image: url("../public/money.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:   auto  ;
}

*, ::after, ::before {
  box-sizing: inherit;
}