.buttons__button {
    background-color: #8dadc3;
    border: none;
    border-radius: 3px;
    width: 49%;
    margin: 1px;
    transition: 1s;
}

.buttons__button:hover {
    background-color: #89cef96b;
    cursor: pointer;
}

@media (max-width: 500px) {
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
    }

    .buttons__button {
        min-width: 100%;
    }
}